command_timeout = 10000
scan_timeout = 10000

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$nodejs\
$docker_context\
$cmd_duration\
$time\
$line_break\
$character"""

[directory]
truncation_length = 3
truncate_to_repo = true

[git_branch]
symbol = " "

[git_status]
format = '([$all_status$ahead_behind]($style) )'

[nodejs]
symbol = " "
detect_files = ["package.json", ".node-version"]

[docker_context]
symbol = " "
only_with_files = true

[cmd_duration]
min_time = 2000
format = "[$duration]($style) "

[time]
disabled = false
format = "[$time]($style) "
time_format = "%H:%M"

[username]
show_always = false

[hostname]
ssh_only = true

[aws]
disabled = true

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
