<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem VisibleCC Item-0</key>
	<false/>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>1410 758 620 398 0 0 3440 1409 </string>
	<key>NSWindow Frame Settings</key>
	<string>1509 583 800 600 0 0 3440 1409 </string>
	<key>Paddle-BetterDisplay-762421-SD</key>
	<string>7c2af979c798842c93ce1d673b96f818d4d7d557f38edf7b7a1787641d80aa3e</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-01-20T04:16:38Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>2713431296</integer>
	<key>activationPriority@DisplayGroup:-1001</key>
	<integer>0</integer>
	<key>airPlay@Display:2</key>
	<false/>
	<key>airPlay@Display:7</key>
	<false/>
	<key>airPlay@Display:89</key>
	<false/>
	<key>airPlay@Display:90</key>
	<false/>
	<key>appAlreadyLaunched</key>
	<true/>
	<key>appDisconnected@Display:2</key>
	<false/>
	<key>appDisconnected@Display:7</key>
	<false/>
	<key>appDisconnected@Display:89</key>
	<false/>
	<key>appDisconnected@Display:90</key>
	<false/>
	<key>appleCapable@Display:2</key>
	<false/>
	<key>appleCapable@Display:7</key>
	<true/>
	<key>appleCapable@Display:89</key>
	<false/>
	<key>appleCapable@Display:90</key>
	<false/>
	<key>appleMade@Display:2</key>
	<false/>
	<key>appleMade@Display:7</key>
	<true/>
	<key>appleMade@Display:89</key>
	<false/>
	<key>appleMade@Display:90</key>
	<false/>
	<key>appleVisionPro@Display:2</key>
	<false/>
	<key>appleVisionPro@Display:7</key>
	<false/>
	<key>appleVisionPro@Display:89</key>
	<false/>
	<key>appleVisionPro@Display:90</key>
	<false/>
	<key>buildNumber</key>
	<integer>47018</integer>
	<key>builtIn@Display:2</key>
	<false/>
	<key>builtIn@Display:7</key>
	<true/>
	<key>builtIn@Display:89</key>
	<false/>
	<key>builtIn@Display:90</key>
	<false/>
	<key>canChangeOrientation@Display:2</key>
	<true/>
	<key>canChangeOrientation@Display:7</key>
	<true/>
	<key>canChangeOrientation@Display:89</key>
	<true/>
	<key>canChangeOrientation@Display:90</key>
	<true/>
	<key>colorProfilesSupported@Display:2</key>
	<true/>
	<key>colorProfilesSupported@Display:7</key>
	<false/>
	<key>colorProfilesSupported@Display:89</key>
	<true/>
	<key>colorProfilesSupported@Display:90</key>
	<true/>
	<key>colorTableCapable@Display:2</key>
	<true/>
	<key>colorTableCapable@Display:7</key>
	<true/>
	<key>colorTableCapable@Display:89</key>
	<true/>
	<key>colorTableCapable@Display:90</key>
	<true/>
	<key>configuredPotentialEDR@Display:2</key>
	<real>1</real>
	<key>configuredPotentialEDR@Display:7</key>
	<real>16</real>
	<key>configuredPotentialEDR@Display:89</key>
	<real>1</real>
	<key>configuredPotentialEDR@Display:90</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:2</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:7</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:89</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:90</key>
	<real>1</real>
	<key>connected@Display:2</key>
	<true/>
	<key>connected@Display:7</key>
	<false/>
	<key>connected@Display:89</key>
	<false/>
	<key>connected@Display:90</key>
	<false/>
	<key>currentColorProfileURL@Display:2</key>
	<string>file:///System/Library/ColorSync/Profiles/Display%20P3.icc</string>
	<key>currentColorProfileURL@Display:7</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Color%20LCD-37D8832A-2D66-02CA-B9F7-8F30A301B230.icc</string>
	<key>currentColorProfileURL@Display:89</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Philips%20FTV-175E58BD-7B09-4913-B5E0-4505C6690BD3.icc</string>
	<key>currentColorProfileURL@Display:90</key>
	<string>file:///Library/ColorSync/Profiles/Displays/SAMSUNG-DC6089F5-B9CA-42A9-8D1C-99E4CF5F3F9A.icc</string>
	<key>ddcConfigurationNoticeDismissed@Display:7</key>
	<true/>
	<key>defaultBitsPerSample@Display:2</key>
	<integer>10</integer>
	<key>defaultBitsPerSample@Display:7</key>
	<integer>10</integer>
	<key>defaultBitsPerSample@Display:89</key>
	<integer>10</integer>
	<key>defaultBitsPerSample@Display:90</key>
	<integer>10</integer>
	<key>defaultHeight@Display:2</key>
	<integer>1440</integer>
	<key>defaultHeight@Display:7</key>
	<integer>982</integer>
	<key>defaultHeight@Display:89</key>
	<integer>1080</integer>
	<key>defaultHeight@Display:90</key>
	<integer>1080</integer>
	<key>defaultIsHiDPI@Display:2</key>
	<false/>
	<key>defaultIsHiDPI@Display:7</key>
	<true/>
	<key>defaultIsHiDPI@Display:89</key>
	<true/>
	<key>defaultIsHiDPI@Display:90</key>
	<false/>
	<key>defaultModeNumber@Display:2</key>
	<integer>56</integer>
	<key>defaultModeNumber@Display:7</key>
	<integer>54</integer>
	<key>defaultModeNumber@Display:89</key>
	<integer>82</integer>
	<key>defaultModeNumber@Display:90</key>
	<integer>77</integer>
	<key>defaultRefreshRate@Display:2</key>
	<integer>100</integer>
	<key>defaultRefreshRate@Display:7</key>
	<integer>120</integer>
	<key>defaultRefreshRate@Display:89</key>
	<integer>60</integer>
	<key>defaultRefreshRate@Display:90</key>
	<integer>60</integer>
	<key>defaultRefreshString@Display:2</key>
	<string>100Hz</string>
	<key>defaultRefreshString@Display:7</key>
	<string>ProMotion</string>
	<key>defaultRefreshString@Display:89</key>
	<string>60Hz</string>
	<key>defaultRefreshString@Display:90</key>
	<string>60Hz</string>
	<key>defaultWidth@Display:2</key>
	<integer>3440</integer>
	<key>defaultWidth@Display:7</key>
	<integer>1512</integer>
	<key>defaultWidth@Display:89</key>
	<integer>1920</integer>
	<key>defaultWidth@Display:90</key>
	<integer>1920</integer>
	<key>displayConfigurationId</key>
	<integer>3971</integer>
	<key>displayConfigurationId@Display:2</key>
	<integer>3971</integer>
	<key>displayConfigurationId@Display:7</key>
	<integer>3971</integer>
	<key>displayConfigurationId@Display:89</key>
	<integer>3623</integer>
	<key>displayConfigurationId@Display:90</key>
	<integer>3728</integer>
	<key>displayModeMenuActiveFilterTagIds@Display:2</key>
	<string>["21,5:9_aspectRatio","100Hz_refreshString","10bit_bitsPerSample","LoDPI_backingScaleFactor","HiDPI_backingScaleFactor"]</string>
	<key>displayModeMenuCustomFilter@Display:2</key>
	<false/>
	<key>displayModeMenuShowAll@Display:2</key>
	<false/>
	<key>displayModeMenuShowManualResolutions@Display:2</key>
	<false/>
	<key>displayTagIDs</key>
	<string>[2,7,89,90]</string>
	<key>factoryColorProfileURL@Display:2</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Tempest%20%2034'-9B1AAFCC-12F0-4BCF-974A-5A8C5D7ACF0E.icc</string>
	<key>factoryColorProfileURL@Display:7</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Color%20LCD-37D8832A-2D66-02CA-B9F7-8F30A301B230.icc</string>
	<key>factoryColorProfileURL@Display:89</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Philips%20FTV-175E58BD-7B09-4913-B5E0-4505C6690BD3.icc</string>
	<key>factoryColorProfileURL@Display:90</key>
	<string>file:///Library/ColorSync/Profiles/Displays/SAMSUNG-DC6089F5-B9CA-42A9-8D1C-99E4CF5F3F9A.icc</string>
	<key>firstAdded@Display:2</key>
	<real>763322639.64277303</real>
	<key>firstAdded@Display:7</key>
	<real>763510900.063568</real>
	<key>firstAdded@Display:89</key>
	<real>784898746.83870995</real>
	<key>firstAdded@Display:90</key>
	<real>786467140.70862699</real>
	<key>hasAutoBrightness@Display:2</key>
	<false/>
	<key>hasAutoBrightness@Display:7</key>
	<true/>
	<key>hasAutoBrightness@Display:89</key>
	<false/>
	<key>hasAutoBrightness@Display:90</key>
	<false/>
	<key>hasHDR@Display:2</key>
	<false/>
	<key>hasHDR@Display:7</key>
	<false/>
	<key>hasHDR@Display:89</key>
	<true/>
	<key>hasHDR@Display:90</key>
	<true/>
	<key>hasHiDPI@Display:2</key>
	<true/>
	<key>hasHiDPI@Display:7</key>
	<true/>
	<key>hasHiDPI@Display:89</key>
	<true/>
	<key>hasHiDPI@Display:90</key>
	<true/>
	<key>hasNotch@Display:2</key>
	<false/>
	<key>hasNotch@Display:7</key>
	<true/>
	<key>hasNotch@Display:89</key>
	<false/>
	<key>hasNotch@Display:90</key>
	<false/>
	<key>hasUnderscanSupport@Display:2</key>
	<false/>
	<key>hasUnderscanSupport@Display:7</key>
	<false/>
	<key>hasUnderscanSupport@Display:89</key>
	<false/>
	<key>hasUnderscanSupport@Display:90</key>
	<false/>
	<key>hasVRR@Display:7</key>
	<true/>
	<key>heightMillimeters@Display:2</key>
	<real>329.51350856471709</real>
	<key>heightMillimeters@Display:7</key>
	<real>195.99075613242172</real>
	<key>heightMillimeters@Display:89</key>
	<real>806.82351729449101</real>
	<key>heightMillimeters@Display:90</key>
	<real>685.79998970031738</real>
	<key>hideMenuIcon</key>
	<true/>
	<key>isUnavailable@hardwareAmbientLight-AmbientLightController</key>
	<true/>
	<key>lastConnected@Display:2</key>
	<real>790625871.95551705</real>
	<key>lastConnected@Display:7</key>
	<real>790625869.543486</real>
	<key>lastConnected@Display:89</key>
	<real>784928726.93511701</real>
	<key>lastConnected@Display:90</key>
	<real>786467140.71097898</real>
	<key>lastUnseen@Display:2</key>
	<real>790625788.88125396</real>
	<key>lastUnseen@Display:7</key>
	<real>790625872.02313495</real>
	<key>lastUnseen@Display:89</key>
	<real>784938940.44688594</real>
	<key>lastUnseen@Display:90</key>
	<real>786467667.72231603</real>
	<key>menuLevelBlueLight</key>
	<string>less</string>
	<key>menuLevelBrightness</key>
	<string>less</string>
	<key>menuLevelCheckForUpdates</key>
	<string>less</string>
	<key>menuLevelColorDepth</key>
	<string>more</string>
	<key>menuLevelColorMode</key>
	<string>more</string>
	<key>menuLevelColorProfile</key>
	<string>more</string>
	<key>menuLevelConfigProtection</key>
	<string>more</string>
	<key>menuLevelContrast</key>
	<string>hide</string>
	<key>menuLevelDDCAdjustments</key>
	<string>more</string>
	<key>menuLevelDDCInput</key>
	<string>more</string>
	<key>menuLevelDisplayConnect</key>
	<string>less</string>
	<key>menuLevelDisplayDisconnect</key>
	<string>more</string>
	<key>menuLevelDisplayMode</key>
	<string>more</string>
	<key>menuLevelDisplaysAndVirtualScreens</key>
	<string>less</string>
	<key>menuLevelGroups</key>
	<string>less</string>
	<key>menuLevelImageAdjustments</key>
	<string>more</string>
	<key>menuLevelManageDisplay</key>
	<string>more</string>
	<key>menuLevelManageVirtualScreen</key>
	<string>more</string>
	<key>menuLevelMirror</key>
	<string>more</string>
	<key>menuLevelMove</key>
	<string>more</string>
	<key>menuLevelPIP</key>
	<string>more</string>
	<key>menuLevelQuit</key>
	<string>less</string>
	<key>menuLevelRefreshRate</key>
	<string>more</string>
	<key>menuLevelResolution</key>
	<string>less</string>
	<key>menuLevelRotation</key>
	<string>more</string>
	<key>menuLevelSettings</key>
	<string>less</string>
	<key>menuLevelStream</key>
	<string>more</string>
	<key>menuLevelToggles</key>
	<string>more</string>
	<key>menuLevelVideoFilterWindow</key>
	<string>less</string>
	<key>menuLevelVirtualScreenConnect</key>
	<string>less</string>
	<key>menuLevelVirtualScreenDisconnect</key>
	<string>more</string>
	<key>menuLevelVolume</key>
	<string>more</string>
	<key>menuLevelXDRPreset</key>
	<string>more</string>
	<key>moreOptions@Display:2</key>
	<true/>
	<key>moreOptions@Display:7</key>
	<false/>
	<key>name@Display:2</key>
	<string>Tempest  34'</string>
	<key>name@Display:7</key>
	<string>Color LCD</string>
	<key>name@Display:89</key>
	<string>Philips FTV</string>
	<key>name@Display:90</key>
	<string>SAMSUNG</string>
	<key>nativeHeight@Display:2</key>
	<integer>1440</integer>
	<key>nativeHeight@Display:7</key>
	<integer>1964</integer>
	<key>nativeHeight@Display:89</key>
	<integer>2160</integer>
	<key>nativeHeight@Display:90</key>
	<integer>1080</integer>
	<key>nativeModeNumber@Display:2</key>
	<integer>56</integer>
	<key>nativeModeNumber@Display:7</key>
	<integer>126</integer>
	<key>nativeModeNumber@Display:89</key>
	<integer>153</integer>
	<key>nativeModeNumber@Display:90</key>
	<integer>77</integer>
	<key>nativeWidth@Display:2</key>
	<integer>3440</integer>
	<key>nativeWidth@Display:7</key>
	<integer>3024</integer>
	<key>nativeWidth@Display:89</key>
	<integer>3840</integer>
	<key>nativeWidth@Display:90</key>
	<integer>1920</integer>
	<key>nonAppleRealDisplay@Display:2</key>
	<true/>
	<key>nonAppleRealDisplay@Display:7</key>
	<false/>
	<key>nonAppleRealDisplay@Display:89</key>
	<true/>
	<key>nonAppleRealDisplay@Display:90</key>
	<true/>
	<key>onboardingMenuIcon</key>
	<false/>
	<key>onboardingMoreIcon</key>
	<false/>
	<key>onboardingSettingsIcon</key>
	<false/>
	<key>overrideCapable@Display:2</key>
	<true/>
	<key>overrideCapable@Display:7</key>
	<true/>
	<key>overrideCapable@Display:89</key>
	<true/>
	<key>overrideCapable@Display:90</key>
	<true/>
	<key>persistedDisplayID@Display:2</key>
	<string>3</string>
	<key>persistedDisplayID@Display:7</key>
	<string>1</string>
	<key>settingsDisplayGroupPaneSelectedTagID</key>
	<integer>0</integer>
	<key>settingsDisplayPaneSelectedTagID</key>
	<integer>0</integer>
	<key>settingsPaneId</key>
	<string>DisplaysPane</string>
	<key>sidecar@Display:2</key>
	<false/>
	<key>sidecar@Display:7</key>
	<false/>
	<key>sidecar@Display:89</key>
	<false/>
	<key>sidecar@Display:90</key>
	<false/>
	<key>singleMoreMenuTagID</key>
	<integer>2</integer>
	<key>storedIdentifiers@Display:2</key>
	<string>[{"yearOfManufacture":2022,"infoDictionaryModelNumber":13313,"portID":0,"systemUUID":"9B1AAFCC-12F0-4BCF-974A-5A8C5D7ACF0E","infoDictionaryVendorNumber":12547,"modelNumber":13313,"infoDictionarySerial":0,"productName":"Tempest  34'","vendorNumber":12547,"weekOfManufacture":23,"edidData":"AP\/\/\/\/\/\/\/wAxAwE0AAAAABcgAQOAUCF4qrD1rUw9siYOUFSlSwBxT4HAgUCBgAEBqcCzANHATX1woNCgLVAwIDUAHU4xAAAaa2hwoNCgLVAwIDUAHU4xAAAaAAAA\/QAwZEWgPAAKICAgICAgAAAA\/ABUZW1wZXN0ICAzNCcKAUgCA0XxTAECAwSQERITHz8AACMJBweDAQAAagMMABAAOEIgAABn2F3EAXiAA20aAAACATB47QAAAAAA4wXjAeYGBwFlXCPV0HCg0KAtUFhARQAdTjEAAB5CQbigYKApUDAgNQAdTjEAABq4zgBQ8HBagBgQigBAhGMAAB4AAAAAfA==","ioDisplayLocation":"IOService:\/AppleARMPE\/arm-io\/AppleT600xIO\/dispext0@88000000\/AppleCLCD2","serial":0,"edidProductName":"Tempest  34'"}]</string>
	<key>storedIdentifiers@Display:7</key>
	<string>[{"vendorNumber":1552,"productName":"Color LCD","serial":4251086178,"infoDictionaryModelNumber":41038,"infoDictionarySerial":4251086178,"infoDictionaryVendorNumber":1552,"edidProductName":"Color LCD","modelNumber":41038,"ioDisplayLocation":"IOService:\/AppleARMPE\/arm-io\/AppleT600xIO\/disp0@8A000000\/AppleCLCD2","systemUUID":"37D8832A-2D66-02CA-B9F7-8F30A301B230"}]</string>
	<key>storedIdentifiers@Display:89</key>
	<string>[{"ioDisplayLocation":"IOService:\/AppleARMPE\/arm-io\/AppleT600xIO\/dispext0@88000000\/AppleCLCD2","portID":48,"weekOfManufacture":10,"edidProductName":"Philips FTV","vendorNumber":16652,"infoDictionaryModelNumber":2691,"infoDictionarySerial":16843009,"productName":"Philips FTV","infoDictionaryVendorNumber":16652,"modelNumber":2691,"yearOfManufacture":2022,"serial":16843009,"systemUUID":"175E58BD-7B09-4913-B5E0-4505C6690BD3","edidData":"AP\/\/\/\/\/\/\/wBBDIMKAQEBAQogAQOAkFF4CuaSo1RKmSYPSkwhCADRANHAgcABAQEBAQEBAQEBCOgAMPJwWoCwWIoAoCpTAAAeVl4AoKCgKVAwIDUAoCpTAAAaAAAA\/ABQaGlsaXBzIEZUVgogAAAA\/QAwPg9GPAAKICAgICAgAVwCA3PxV2FgXV9eEB8gIiEFFAQTEgMRAhYHFQYBMgkfBxUHUD0HwFcGAV0fAWcEA4MBAABtAwwAMAA4PCgIYAECA2rYXcQBeIALAjAA4gDJ4g8D4wXAAOMGDQHrAUbQAE0mOqQ2Hs7lAYuEkAHmEUbQAHAAAAAAAAAAAAAAAAAAnw=="}]</string>
	<key>storedIdentifiers@Display:90</key>
	<string>[{"infoDictionaryVendorNumber":19501,"infoDictionaryModelNumber":29536,"productName":"SAMSUNG","vendorNumber":19501,"weekOfManufacture":1,"portID":48,"yearOfManufacture":2023,"ioDisplayLocation":"IOService:\/AppleARMPE\/arm-io\/AppleT600xIO\/dispext0@88000000\/AppleCLCD2","modelNumber":29536,"infoDictionarySerial":16780800,"edidProductName":"SAMSUNG","serial":16780800,"edidData":"AP\/\/\/\/\/\/\/wBMLWBzAA4AAQEhAQOAeUR4CiOtpFRNmSYPR0q974BxT4HAgQCBgJUAqcCzAAEBAjqAGHE4LUBYLEUAuqhCAAAeZiFWqlEAHjBGjzMAuqhCAAAeAAAA\/QAYSw9RFwAKICAgICAgAAAA\/ABTQU1TVU5HCiAgICAgASUCAzrxTZAfBBMFFAMSICEiBxYvDVcHCQcHFQdQVwcAZ1QAgw8AAOIAD+MFwwFoAwwAEAC4LQDjBg0BAR2A0HIcFiAQLCWAuqhCAACeAR2AGHEcFiBYLCUAuqhCAACeAR0AvFLQHiC4KFVAuqhCAAAeAAAAAAAAAAAAAAAAAAAAHQ==","systemUUID":"DC6089F5-B9CA-42A9-8D1C-99E4CF5F3F9A"}]</string>
	<key>systemVirtual@Display:2</key>
	<false/>
	<key>systemVirtual@Display:7</key>
	<false/>
	<key>systemVirtual@Display:89</key>
	<false/>
	<key>systemVirtual@Display:90</key>
	<false/>
	<key>tagIDCounter</key>
	<integer>98</integer>
	<key>thirdPartyVirtual@Display:2</key>
	<false/>
	<key>thirdPartyVirtual@Display:7</key>
	<false/>
	<key>thirdPartyVirtual@Display:89</key>
	<false/>
	<key>thirdPartyVirtual@Display:90</key>
	<false/>
	<key>toolsMoreOptions</key>
	<false/>
	<key>tv@Display:2</key>
	<false/>
	<key>tv@Display:7</key>
	<false/>
	<key>tv@Display:89</key>
	<false/>
	<key>tv@Display:90</key>
	<false/>
	<key>unknownDisplay@Display:2</key>
	<false/>
	<key>unknownDisplay@Display:7</key>
	<false/>
	<key>unknownDisplay@Display:89</key>
	<false/>
	<key>unknownDisplay@Display:90</key>
	<false/>
	<key>updateBuild</key>
	<string>47018</string>
	<key>updateFound</key>
	<true/>
	<key>updateVersion</key>
	<string>4.1.1</string>
	<key>uuid@Display:0</key>
	<integer>0</integer>
	<key>uuid@Display:2</key>
	<integer>2</integer>
	<key>uuid@Display:7</key>
	<integer>7</integer>
	<key>uuid@Display:89</key>
	<integer>89</integer>
	<key>uuid@Display:90</key>
	<integer>90</integer>
	<key>uuid@DisplayGroup:-1001</key>
	<integer>-1001</integer>
	<key>value@blueLight-BlueLightController</key>
	<real>0.5</real>
	<key>value@combinedBrightness-CombinedController@Display:2</key>
	<real>1</real>
	<key>value@combinedBrightness-CombinedController@Display:7</key>
	<real>0.58329819368593616</real>
	<key>value@hardwareBrightness-AppleController@Display:2</key>
	<real>0.84218275547027588</real>
	<key>value@hardwareBrightness-AppleController@Display:7</key>
	<real>0.44995361566543579</real>
	<key>value@hardwareBrightness-DDCController@Display:2</key>
	<real>1</real>
	<key>value@quantization-ColorController@Display:2</key>
	<real>1</real>
	<key>value@softwareBrightness-ColorController@Display:2</key>
	<real>1</real>
	<key>value@softwareBrightness-ColorController@Display:7</key>
	<real>1</real>
	<key>value@softwareBrightness-ColorController@Display:89</key>
	<real>1</real>
	<key>value@softwareBrightness-ColorController@Display:90</key>
	<real>1</real>
	<key>value@volume-DDCController@Display:2</key>
	<real>0.8125</real>
	<key>virtualScreenLinked@Display:2</key>
	<false/>
	<key>virtualScreenLinked@Display:7</key>
	<false/>
	<key>virtualScreenLinked@Display:89</key>
	<false/>
	<key>virtualScreenLinked@Display:90</key>
	<false/>
	<key>widthMillimeters@Display:2</key>
	<real>801.61466686003791</real>
	<key>widthMillimeters@Display:7</key>
	<real>301.78217368550821</real>
	<key>widthMillimeters@Display:89</key>
	<real>1434.3529196346508</real>
	<key>widthMillimeters@Display:90</key>
	<real>1219.1999816894531</real>
	<key>xdrPresetsSupported@Display:2</key>
	<false/>
	<key>xdrPresetsSupported@Display:7</key>
	<true/>
	<key>xdrPresetsSupported@Display:89</key>
	<false/>
	<key>xdrPresetsSupported@Display:90</key>
	<false/>
</dict>
</plist>
